services:
  frontend:
    build:
      context: .
      dockerfile: front_Dockerfile
    image: ghcr.io/oklati/sahabi_frontend
    container_name: front
    environment:
      NODE_ENV: production
    expose:
      - "3000"  # use expose instead of ports when using NGINX internally

  nginx:
    image: nginx:latest
    ports:
      - "80:80"  # Public access via NGINX
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - front
