

:root {
  font-family: "Vazirmatn", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* max-width: 1800px !important;
  width: 100% !important; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 2000px !important;
  width: 100% !important;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('./assets/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.96);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.swiper-slide {
  transition: transform 0.4s ease-in-out;
  will-change: transform;
}
