name: CD

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - main
    types:
      - closed



jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.TOKEN }}

    - name: Build and Push Docker Image
      run: |
        docker compose build
        docker compose push

    - name: Deploy on server
      uses: appleboy/ssh-action@v0.1.8 
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }}
        script: |

          cd /home/${{ secrets.SERVER_USER }}/

          echo "${{ secrets.TOKEN }}" | docker login ghcr.io -u ${{ secrets.USERNAME }} --password-stdin

          docker compose pull
          
          docker compose down
          
          docker compose up -d
